# CCACHE

BR2_CCACHE=y

# Architecture
BR2_arm=y
BR2_cortex_a9=y
BR2_RELRO_NONE=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y

# Linux headers same as kernel, a 6.1 series
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y

# Kernel
BR2_LINUX_KERNEL=n

# Bootloader
BR2_TARGET_OPENSBI=n
BR2_TARGET_UBOOT=n

# Host tools
BR2_PACKAGE_HOST_GENIMAGE=n
BR2_PACKAGE_HOST_UBOOT_TOOLS=n

# Packages

# video4linux packages
BR2_PACKAGE_LIBV4L=y
BR2_PACKAGE_LIBV4L_UTILS=y

# python
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PYTHON_PIP=y

# git
BR2_PACKAGE_GIT=y
BR2_PACKAGE_GIT_CRYPT=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_LIBCURL_CURL=y
BR2_PACKAGE_CA_CERTIFICATES=y

# gpio packages
BR2_PACKAGE_LIBGPIOD=y
BR2_PACKAGE_LIBGPIOD_TOOLS=y

# i2c packages
BR2_PACKAGE_I2C_TOOLS=y
