name: chroot
requires: [target_network]
refers: target
echo: true
timeout: 5
fail-fast: true
commands:
  - "mount /dev/vda /mnt"
  - "cd /mnt"
  - "mount -t proc /proc proc/"
  - "mount -t sysfs /sys sys/"
  - "mount -o bind /dev dev/"
  - "mount -o bind /run run/"
  - "mount -o bind /tmp tmp/"
  - "mkdir -p /mnt/sys/kernel/debug"
  - "mount -t debugfs nodev /mnt/sys/kernel/debug"
  - "chroot /mnt /bin/sh"
  - "cd /home"
